/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Border and padding are not added to the height and width of the element */
}

/* Universal font definition through inheritance */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        135deg, 
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 131, 0.8)), 
        url(../img/hero.jpg); /* to right | to right bottom | to left | 90deg */
    background-size: cover; /* Even if the width of the image is bigger than the viewport, it tries to fit the image within the container. Horizontal part will be cut-off. Which part to be cut off is decided by background-position*/
    background-position: top; /* bottom|center */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* polygon: 다각형 */
    position: relative;
}

.logo-box {
    position: absolute; /* absolute position starts from parent element which has the relative position */
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* inline block works just like a text. If we want to align them, we have to use text-align not margin. for white button*/
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /*  */
    margin-bottom: 60px;

}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; /* ease|ease-in|ease-out|ease-in-out|liner|etc. */
    /* animation-iteration-count: 3; how many times the animation to happen*/
    /* animation-delay: 3s; when this to happen*/
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

/* Buttons */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block; /* In default <a> tag is inline element */
    border-radius: 100px;
    transition: all .3s /* Transition must be placed in the original state */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2); /* offset to X, offset to Y, blur, color of shadow*/
}


.btn:active { /* When we click a button */
    transform: translateY(-1px); /* not from the previous position but from the original position */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);/* offset to X, offset to Y, blur */
}

.btn-white {
    color: #555;
    background-color: #fff;
}

/* Animations */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(30%);
    }

    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
    }
}