.header {
    height: 95vh;
    background-image: linear-gradient(
        135deg, 
        rgba($color-primary-light, 0.8), //This only works in scss
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg); /* to right | to right bottom | to left | 90deg */
    background-size: cover; /* Even if the width of the image is bigger than the viewport, it tries to fit the image within the container. Horizontal part will be cut-off. Which part to be cut off is decided by background-position*/
    background-position: top; /* bottom|center */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* polygon: 다각형 */
    position: relative;

    &__logo-box {
        position: absolute; /* absolute position starts from parent element which has the relative position */
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* inline block works just like a text. If we want to align them, we have to use text-align not margin. for white button*/
    }
}