/* Universal reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }
}

/* Universal font definition through inheritance */
body {
    box-sizing: border-box; /* Border and padding are not added to the height and width of the element */
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}